* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gallery__title{
    color: red;
}

body {
    font-family: sans-serif;
}

.gallery__items{
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0;
    gap: 20px;
    width: 100%;
}

.gallery__item{
    text-align: center;
    background-color: white;
    box-shadow: 5px 10px;
}
 
.gallery-item__image{
    width: 100%;
    height: 250px;
    object-fit: cover;
}


.gallery-item__title{
    padding: 20px 0;
}